annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
distro
fastapi
h11
httpcore
httpx
idna
jiter
openai
pydantic
pydantic_core
PyPDF2
python-dotenv
python-multipart
requests
sniffio
starlette
tqdm
typing-inspection
typing_extensions
urllib3
uvicorn
